<html lang="en">
  <head>
    <%- include('./partials/header.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <p>Oops! Page not found... :)</p>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
